{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Left Side: Login Form -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="w-75 p-4" style="background-color: #F8F9FA; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <h2 class="text-center">Login</h2>
        <hr />
        {% if template_data.error %}
        <div class="alert alert-danger" role="alert">
          {{ template_data.error }}
        </div>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" type="text" name="username" required autocomplete="username" class="form-control">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" name="password" required autocomplete="current-password" class="form-control">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-custom-gradient w-100">Login</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Right Side: Image -->
    <div class="col-md-6 d-none d-md-block p-0">
      <img src="{% static 'img/loginImg.png' %}" alt="Login Image" class="img-fluid vh-100 w-100" style="object-fit: cover;">
    </div>
  </div>
</div>
{% endblock content %}