# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django specific files
*.log
*.pot
db.sqlite3
media/

# Local development settings
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo