{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-gradient">{{ user.name }}'s Profile</h1>
    <p>Followers: {{ user.followers }}</p>
    {% if is_friend %}
        <a class="btn btn-custom-gradient" href="{% url 'social.remove_friend' user.id %}">Unfriend</a>
    {% else %}
        <a class="btn btn-custom-gradient" href="{% url 'social.add_friend' user.id %}">Add Friend</a>
    {% endif %}
    <a class="btn btn-custom-gradient" href="{% url 'social.follow' user.id %}">Follow</a>
    <a class="btn btn-custom-gradient" href="{% url 'social.unfollow' user.id %}">Unfollow</a>
    <a class="btn btn-custom-gradient" href="{% url 'social.feed' %}">Back to Feed</a>
</div>
{% endblock content %}